td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #404040 }
body  { background: #262626; color: #afafaf }
body .c { color: #5f5f5f; font-style: italic } /* Comment */
body .err { color: #a61717; background-color: #e3d2d2 } /* Error */
body .esc { color: #d0d0d0 } /* Escape */
body .g { color: #d0d0d0 } /* Generic */
body .k { color: #d75fd7 } /* Keyword */
body .l { color: #d7875f } /* Literal */
body .n { color: #d0d0d0 } /* Name */
body .o { color: #afafaf } /* Operator */
body .x { color: #d0d0d0 } /* Other */
body .p { color: #d0d0d0 } /* Punctuation */
body .ch { color: #5f5f5f; font-style: italic } /* Comment.Hashbang */
body .cm { color: #5f5f5f; font-style: italic } /* Comment.Multiline */
body .cp { color: #5f5f5f } /* Comment.Preproc */
body .cpf { color: #5f5f5f; font-style: italic } /* Comment.PreprocFile */
body .c1 { color: #5f5f5f; font-style: italic } /* Comment.Single */
body .cs { color: #5f5f5f; background-color: #520000 } /* Comment.Special */
body .gd { color: #d22323 } /* Generic.Deleted */
body .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
body .gr { color: #d22323 } /* Generic.Error */
body .gh { color: #ffffff } /* Generic.Heading */
body .gi { color: #589819 } /* Generic.Inserted */
body .go { color: #cccccc } /* Generic.Output */
body .gp { color: #aaaaaa } /* Generic.Prompt */
body .gs { color: #d0d0d0 } /* Generic.Strong */
body .gu { color: #ffffff } /* Generic.Subheading */
body .gt { color: #d22323 } /* Generic.Traceback */
body .kc { color: #d75fd7 } /* Keyword.Constant */
body .kd { color: #d75fd7 } /* Keyword.Declaration */
body .kn { color: #00afff } /* Keyword.Namespace */
body .kp { color: #d75fd7 } /* Keyword.Pseudo */
body .kr { color: #d75fd7 } /* Keyword.Reserved */
body .kt { color: #d75fd7 } /* Keyword.Type */
body .ld { color: #d0d0d0 } /* Literal.Date */
body .m { color: #3677a9 } /* Literal.Number */
body .s { color: #87d787 } /* Literal.String */
body .na { color: #bbbbbb } /* Name.Attribute */
body .nb { color: #00afff } /* Name.Builtin */
body .nc { color: #d7af87 } /* Name.Class */
body .no { color: #40ffff } /* Name.Constant */
body .nd { color: #d75fd7 } /* Name.Decorator */
body .ni { color: #d0d0d0 } /* Name.Entity */
body .ne { color: #bbbbbb } /* Name.Exception */
body .nf { color: #00afff } /* Name.Function */
body .nl { color: #d0d0d0 } /* Name.Label */
body .nn { color: #afafaf } /* Name.Namespace */
body .nx { color: #d0d0d0 } /* Name.Other */
body .py { color: #d0d0d0 } /* Name.Property */
body .nt { color: #d75fd7 } /* Name.Tag */
body .nv { color: #40ffff } /* Name.Variable */
body .ow { color: #d75fd7 } /* Operator.Word */
body .w { color: #666666 } /* Text.Whitespace */
body .mb { color: #d7875f } /* Literal.Number.Bin */
body .mf { color: #d7875f } /* Literal.Number.Float */
body .mh { color: #d7875f } /* Literal.Number.Hex */
body .mi { color: #d7875f } /* Literal.Number.Integer */
body .mo { color: #d7875f } /* Literal.Number.Oct */
body .sa { color: #87d787 } /* Literal.String.Affix */
body .sb { color: #87d787 } /* Literal.String.Backtick */
body .sc { color: #87d787 } /* Literal.String.Char */
body .dl { color: #87d787 } /* Literal.String.Delimiter */
body .sd { color: #87d787 } /* Literal.String.Doc */
body .s2 { color: #87d787 } /* Literal.String.Double */
body .se { color: #87d787 } /* Literal.String.Escape */
body .sh { color: #87d787 } /* Literal.String.Heredoc */
body .si { color: #87d787 } /* Literal.String.Interpol */
body .sx { color: #87d787 } /* Literal.String.Other */
body .sr { color: #87d787 } /* Literal.String.Regex */
body .s1 { color: #87d787 } /* Literal.String.Single */
body .ss { color: #87d787 } /* Literal.String.Symbol */
body .bp { color: #24909d } /* Name.Builtin.Pseudo */
body .fm { color: #d7af87 } /* Name.Function.Magic */
body .vc { color: #40ffff } /* Name.Variable.Class */
body .vg { color: #40ffff } /* Name.Variable.Global */
body .vi { color: #40ffff } /* Name.Variable.Instance */
body .vm { color: #40ffff } /* Name.Variable.Magic */
body .il { color: #3677a9 } /* Literal.Number.Integer.Long */

body .highlight { font-size: 1.2rem }

body .intro { font-family: "Comic Sans MS", cursive, sans-serif;
              font-size: 1.2rem }

body .explanation { font-family: "Palatino Linotype", "Book Antiqua",
					Palatino, serif;
                    font-size: 1.1rem }

body .note { color: green; font-weight: bold }
body .todo { color: blue; font-weight: bold}
body .bug { color: red; font-weight: bold}

a { color: inherit; text-decoration: underline  }
